/* Author : Valéry Bruniaux
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@charset "UTF-8";

body {
    /*-webkit-font-smoothing: antialiased;*/
	font-size: 19px;
	font-weight: normal;
	font-style: normal;
	color: black;
	overflow: auto;
	text-align: justify;
/*    text-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;*/
/*    width: 210mm;*/
}

body, p, .warning, .inlinewarning {
	font-family: "Souvenir Lt Bt", Andika, "Amerigo BT", Century, "Bookman URW", "Bitstream Vera Serif", "Free Sans", Georgia, Serif, Aerial, "Times New Roman", "STSong", "PT Serif";
	line-height: 120%;

}

p {
	margin : 0.2em 0 0.2em 0;
}

sub, sup {
	font-size: 70%;
}

h1, h2, h3, h4, h5, h6, .title {
	font-family: OpenDyslexic, "Lucida Sans", "Bitstream Vera Sans", "Arial Rounded MT Bold", Arbeka, "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", "Lato", sans-serif, "Aerial";
	font-weight: bold;
	font-style: italic;
	line-height: 120%;
	margin: 0 0 0.1em 0;
}

.title {
	font-size: 200%;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	padding : 0.1em;
	box-shadow: 3px 3px 3px #aaa;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: lightgrey;
}

h1 {
	font-size: 150%;
	margin-top : 1em;
	border-bottom : 1px solid grey;
	background-color: lightgrey;
}


h2 {
	font-size: 125%;
	margin-top : 0.5em;
	text-decoration: underline;
}

h3 {
	font-size: 110%;
	margin-top : 0.4em;
}

h4, h5, h6 {
	font-size: 100%;
	margin-top : 0.3em;
}

.header-section-number:after {
	content: ') ';
}

table {
	border-collapse: collapse;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left:auto; 
	margin-right:auto;
	width: 85%;
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
	font-weight: normal;
	font-style: normal;
}

tr:nth-child(even), th {
	background-color: lightgrey;
}

ol,ul {
	list-style-type: none;
	list-style-position: inside;
	text-align: justify;
	margin : 0;
	padding: 0;
	padding-left: 1em;
}

ol {
    counter-reset: li-counter;
}

ol[start="0"] {
    counter-reset: li-counter -1;
}

ol[start="1"] {
    counter-reset: li-counter 0;
}

ol[start="2"] {
    counter-reset: li-counter 1;
}

ol[start="3"] {
    counter-reset: li-counter 2;
}

ol[start="4"] {
    counter-reset: li-counter 3;
}

ol[start="5"] {
    counter-reset: li-counter 4;
}

ol[start="6"] {
    counter-reset: li-counter 5;
}

ol[start="7"] {
    counter-reset: li-counter 6;
}

ol[start="8"] {
    counter-reset: li-counter 7;
}

ol[start="9"] {
    counter-reset: li-counter 8;
}

ol[start="10"] {
    counter-reset: li-counter 9;
}

ol[start="100"] {
    counter-reset: li-counter 99;
}

ol[start="1000"] {
    counter-reset: li-counter 999;
}

li {
    position: relative;
    margin-bottom: 0px;
    padding-left: 0.5em;
}

li:before {
	position: absolute;
	top: 0;
	left: -1em;
	width: 1em;
	height: 1em;
	font-size: 1em;
	line-height: 1;
	text-align: center;
}

ul > li:before {
	font-size: 1.1em;
	content: "➫";
	content: "❑";
}

ol > li:before {
    color: #f5f5f5;
    border: 3px solid #c5c5c5;
    border-radius: 50%;
    background-color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
}

.padleft2 {
padding-left: 2em;
}

.padleft5 {
padding-left: 5em;
}

.padleft10 {
padding-left: 10em;
}

.padleft15 {
padding-left: 15em;
}

.cols {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

.col12 {
  display: table-cell;
  width: 50%;
  padding: 0 0.5em 0 0;
}

.col22 {
  display: table-cell;
  width: 50%;
  padding: 0 0 0 0.5em;
}

.col13 {
  display: table-cell;
  width: 33.33333%;
  padding: 0 0.4em 0 0;
}

.col23 {
  display: table-cell;
  width: 33.33333%;
  padding: 0 0.4em 0 0.4em;
}

.col33 {
  display: table-cell;
  width: 33.33333%;
  padding: 0 0 0 0.4em;
}

.warning {
	margin: 0.5em 0;
	margin-left:auto; 
	margin-right:auto;
	background-color: yellow;
	/*font-size: 110%;
	line-height: 110%;
	border: 1px solid white;*/
	border: none;
	border-radius: 10px;
	padding : 0.1em 0.4em;
	box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 orange;
}

.warning ol, .warning ul {
	padding-left: 1em;
}

.warning ul > li:before {
	content: "➫";
}

.inlinewarning {
	background-color: yellow;
/*	text-decoration: underline;*/
}

div.sourceCode {
	margin: 0.5em 0;
	text-align: left;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

code {
	background-color: lightgrey;
}

code.sourceCode {
	background-color: inherit;
}


img {
	margin: auto;
	text-align: center;
}

.imgbox {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure {
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	margin: 0em;
	padding: 0em;	
}

figcaption {
}

.center {
	display: block;
	margin: auto;
	text-align: center;
}

.floatleft {
	float: left;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	margin: 0;
	padding: 0em 0.5em 0 0;
}

.floatright {
	float: right;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	margin: 0;
	padding: 0 0 0 0.5em;
}

p, td, div, ul, li {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;
}

@page
{
    size: 21cm 29.7cm;
    margin: 0.75cm 1cm 1cm 1cm;
/*
    margin:0;
    padding: 0.75cm 1cm 1cm 1cm;
*/
}

@media print
{
    p
    {
        widows: 1;
        orphans: 1;
    }
    .pagebreakafter
    {
        page-break-after: always;
    }
    .pagebreakbefore
    {
        page-break-before: always;
    }
    div, code, pre, blockquote, li, span, table
    {
        page-break-inside: avoid;
    }
    h1, h2, h3, h4
    {
        page-break-after: avoid;
    }
}

.pagebreakbefore {
    page-break-before: always;
}

