@charset "UTF-8";

body {
    /*-webkit-font-smoothing: antialiased;*/
	font-size: 120%;
	font-weight: normal;
	font-style: normal;
	color: black;
/*    text-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;*/
/*    width: 210mm;*/
}

body, p, .warning, .inlinewarning {
	font-family: "Souvenir Lt Bt", Andika, "Amerigo BT", Century, "Bookman URW", "Bitstream Vera Serif", "Free Sans", Georgia, Serif, Aerial, "Times New Roman", "STSong", "PT Serif";
	line-height: 1.5rem;
}

p, ul {
	text-align: justify;
	margin : 0.1rem 0 0 0;
}

h1, h2, h3, h4, h5, h6, .title {
	font-family: OpenDyslexic, "Lucida Sans", "Bitstream Vera Sans", "Arial Rounded MT Bold", Arbeka, "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", "Lato", sans-serif, "Aerial";
	font-weight: bold;
	font-style: italic;
	line-height: 2rem;
}

.title {
	font-size: 200%;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	padding : 0.5rem;
	box-shadow: 3px 3px 3px #aaa;
	background: lightgrey;
}

h1 {
	font-size: 150%;
	margin-top : 1rem;
	margin-bottom : 0.5rem;
	border-bottom : 1px solid grey;
}


h2 {
	font-size: 125%;
	margin-top : 0.5rem;
	margin-bottom : -0.1rem;
	text-decoration: underline;
}

h3 {
	font-size: 110%;
	margin-top : 0.5rem;
	margin-bottom : -0.20rem;
}

.header-section-number:after {
	content: ') ';
}

table {
	border-collapse: collapse;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left:auto; 
	margin-right:auto;
	width: 75%;
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
	font-weight: normal;
	font-style: normal;
}

tr:nth-child(even), th {
	background-color: lightgrey;
}

ul li {
	text-align: justify;
	list-style: none;
}

ul li:before {
	content: '➫ ';
}

.warning {
	margin-left:auto; 
	margin-right:auto;
	width: 98%;
	background-color: yellow;
	font-size: 120%;
	line-height: 2rem;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	padding : 0.5rem;
	box-shadow: 3px 3px 3px #aaa;
}

.inlinewarning {
	background-color: yellow;
	text-decoration: underline;
}

img {
	margin:auto;
}

p, td, div, ul, li {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;
}

@page
{
    size: 21cm 29.7cm;
    margin: 0.75cm 1cm 1cm 1cm;
/*
    margin:0;
    padding: 0.75cm 1cm 1cm 1cm;
*/
}

@media print
{
    h1, h2, h3, h4
    {
        page-break-after: avoid;
    }
    div, code, pre, blockquote, li, span, table
    {
        page-break-inside: avoid;
    }
}

.pagebreakbefore {
    page-break-before: always;
}

